<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col sizeMd="4" offsetMd="4">

        <ion-card *ngIf="profile">
          <ion-card-content class="ion-text-center">
            <img src="{{profile.image}}">
            <ion-card-title>{{profile.name}}</ion-card-title>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
